.sider__wrap {
  height: 100vh;
  background-color: white;
}
.menu__wrap {
  
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.school__logo {
  margin: 30px auto;
}
